
#header {
  background-color: blue;
  height:100px;
width: 900px;
  float:top;
  position: fixed;

}
#sidebar {
  background-color:yellow;
  height:900px;
  width: 100px;
  position:absolute;
  float:left;
  display: inline-block;
  margin-top: 120px;
  clear: both;
}
#post {
  background-color:green;
  height:900px;
  width: 500px;
  position:absolute;
  float: right;
  margin-left:100px;
  padding: 10px 20px 10px 20px;
  display: inline-block;
  margin-top: 120px;
  clear:both;
}