
#header {
  background-color: blue;
  height:110px;
  width: 100%;
  position: fixed;
  margin-top: -10px;

}

#sidebar {
  background-color:yellow;
  height:auto;
  width: 200px;
  float: left;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 50px;
}

#post {
  background-color:green;
  height:auto;
  padding: 175px 100px 50px 350px;
}

h1{
    text-align:center;
}





